.modal {
  .button {
    margin-bottom: 1rem;
  }

  label:after {
    color: #9d8cf2 !important;
  }

  .characterLabel {
    float: right;
    font-size: .92857143em;
    margin-top: -5px;
  }

  .characterLabelComplete{
    float: right;
    font-size: .92857143em;
    color: #9d8cf2;
    margin-top: -5px;
  }

  .dropdown {
    .label {
      color: #9d8cf2;
      background-color: floralwhite;
    }
  }

  .submited {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .loader-text {
    color: #9d8cf2 !important;
    margin-top: 3rem !important;
  }
}



.dimmer.inverted {
  background-color: rgba(0, 0, 0, 0.6) !important;
}