.footer {
  clear: both;
  position: relative;
  padding-bottom: 1rem;

  .fitted-bottom {
    margin-bottom: 0;
  }

  .social-link {
    padding-left: 0rem !important;
    padding-right: 0.8rem !important;
  }
}
