.author {
  .author-image {
    margin-bottom: 1rem;
  }

  .author-statistics {
    margin-bottom: 1rem !important;

    .statistic-label {
      text-transform: capitalize !important;
      font-weight: 500;
    }
  }
}
